{% extends "base_template.html" %}

{% block title %}Base de datos{% endblock %}

{% block head %} 
<style>
 
td.fit{
    width:1%;
    white-space:nowrap;
}

th {
  cursor: pointer;
}

input {
  max-width: 500px;
}


</style>
{% endblock %}

{% block script %}
<script>

    $(document).ready(function(){
        // Redimensionem la web per que capigue la taula completa
        if ($(".table").length){
            var table_width = $(".table").css("width")
            table_width = (parseInt(table_width.replace(/px/,""))+80)+"px"
            $("html").width(table_width)
            }
        });
  
    $(document).ready(function() {
        $("#input-folder-1").fileinput({
            browseLabel: 'Select Folder...'
        });
    });

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>
{% block script_extra %}{% endblock %}
{% endblock %}
 
{% block content %}
    <div class="container-fluid">
        {% if afes %}
        <div id="div_table" class="col border border-info rounded  p-2 my-3" style="background-color:whitesmoke;">
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">AFES</h4>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col-2">
                        <form action="/view_afes/" method="get">
                        <div class="input-group">
                            <select class="form-select" name="afes_filter" id="afes_filter" value="{{afes_filter}}">
                                <option {{'selected' if afes_filter == 'ALL'}}>ALL</option>
                                <option {{'selected' if afes_filter == 'SBOX'}}>SBOX</option>
                                <option {{'selected' if afes_filter == 'STOCK'}}>STOCK</option>
                            </select>
                            <button id="view_noise_5" type="submit" class="btn btn-outline-success">View</button>
                        </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">Add Afes</h4>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col-4">
                        <form action="/post/add_afes_automatic/" enctype="multipart/form-data" method="post">
                        <div class="mb-3 input-group">
                            <input class="form-control" type="file" id="file" name="file" multiple>
                            <button id="Add_afes" type="submit" class="btn btn-outline-danger" >Add</button>
                        </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col-6">
                        <form action="/post/add_afes_manual/" method="post">
                        <div class="mb-3 input-group">
                            <input class="form-control" type="text" id="add_afe_sn" name="add_afe_sn" placeholder="Afe serial">
                            <select class="form-select form-select" id="add_afe_pn" name="add_afe_pn" value="">
                                <option>Afe circuit</option>
                                {% for i in range(5) %}
                                <option>0{{i}}</option>
                                {% endfor %}
                              </select>
                            {% for i in range(4) %}
                            <input class="form-control" type="text" id="add_sensor_sn{{i+1}}" name="add_sensor_sn{{i+1}}" placeholder="serial sn{{i+1}}">
                            {% endfor %}
                            <button id="Add_afes_mamual" type="submit" class="btn btn-outline-danger" >Add</button>
                        </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">Modify Afes</h4>
            </div>
            {% if repair2_filter == 'Sensors' %}
            <div class="row mt-3">
                <div class="col-1"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">Sensor 1</div>
                <div class="col">Sensor 2</div>
                <div class="col">Sensor 3</div>
                <div class="col">Sensor 4</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col-1"></div>
            </div>
            {% endif %}
            <div class="row {{'mt-2' if repair2_filter == 'Sensors' else 'mt-3'}} mb-2">
                <div class="col-1"></div>
                <div class="col"></div>
                <div class="col">Serial {{'AFE' if repair2_filter != 'Sensor' else 'sensor'}}</div>
                {% if repair2_filter == 'Sensor' %}
                <div class="col">Sensor type</div>
                {% elif repair2_filter == 'State' %}
                <div class="col">State</div>
                <div class="col">Status</div>
                {% elif repair2_filter != 'Sensors' %}
                <div class="col">{{repair2_filter}}</div>
                {% else %}
                {% for i in range(4)%}
                <div class="col">(serial - type)</div>
                {% endfor %}
                {% endif %}
                <!--
                {% if repair2_filter == 'Location'%}
                <div class="col">Get free position</div>
                {% endif %}
                -->
                <div class="col"></div>
                <div class="col"></div>
                <div class="col-1"></div>
            </div>
            <form action="/post/repair2_apply/" method="post" onkeydown="return event.key != 'Enter';">
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col">
                <select class="form-select bg-light post-reload" name="repair2_filter" id="repair2_filter" value="{{repair2_filter}}" >
                    <option {{'selected' if repair2_filter == 'State'}}>State</option>
                    <option {{'selected' if repair2_filter == 'Location'}}>Location</option>
                    <option {{'selected' if repair2_filter == 'Sensors'}}>Sensors</option>
                    <!--<option {{'selected' if repair2_filter == 'Sensor'}}>Sensor</option>-->
                </select>
                </div>
                {% if repair2_filter == 'State' %}
                <div class="col">
                <input type="text" class="form-control " id="repair_afe" name="repair_afe" value="{{repair_afe}}">
                </div>
                <div class="col">
                <select class="form-select " name="repair_state" id="repair_state" value="{{repair_state}}">
                    <option {{'selected' if repair_state == ''}}></option>
                    <option {{'selected' if repair_state == 'OK'}}>OK</option>
                    <option {{'selected' if repair_state == 'NOT_OK'}}>NOT_OK</option>
                    <option {{'selected' if repair_state == 'NOT_TESTED'}}>NOT_TESTED</option>
                    <option {{'selected' if repair_state == 'NOT_TESTED'}}>TESTING</option>
                </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control " id="repair_status" name="repair_status" value="{{repair_status}}">
                    </div>
                {% elif repair2_filter == 'Location' %}
                <div class="col">
                <input type="text" class="form-control" id="repair_afe" name="repair_afe" value="{{repair_afe}}">
                </div>
                <div class="col">
                <input type="text" class="form-control " id="repair_location" name="repair_location" value="{{repair_location}}">
                </div>
                {% elif repair2_filter == 'Sensors' %}
                <div class="col">
                <input type="text" class="form-control " id="repair_afe" name="repair_afe" value="{{repair_afe}}">
                </div>
                {% for i in range(4) %}
                <div class="col">
                {% set sens_serial = 'repair_sens_serial_' + (i+1) | string %}
                <input type="text" class="form-control " id="{{sens_serial}}" name="{{sens_serial}}">
                {% set sens_type = 'repair_sens_type_' + (i+1) | string %}
                <select class="form-select" id="{{sens_type}}" name="{{sens_type}}">
                    <option></option>
                    <option {{'selected' if (sens_type | eval) == 'NO2'}}>NO2</option>
                    <option {{'selected' if (sens_type | eval) == 'O3'}}>O3</option>
                    <option {{'selected' if (sens_type | eval) == 'NO'}}>NO</option>
                    <option {{'selected' if (sens_type | eval) == 'CO'}}>CO</option>
                    <option {{'selected' if (sens_type | eval) == 'SO2'}}>SO2</option>
                    <option {{'selected' if (sens_type | eval) == 'H2S'}}>H2S</option>
                    <option {{'selected' if (sens_type | eval) == 'VOC'}}>VOC</option>
                    <option {{'selected' if (sens_type | eval) == 'NH3'}}>NH3</option>
                    <option {{'selected' if (sens_type | eval) == 'HCL'}}>HCL</option>
                    <option {{'selected' if (sens_type | eval) == '--'}}>--</option>
                </select>
                </div>
                {% endfor %}
                {% elif repair2_filter == 'Sensor' %}
                <div class="col">
                <input type="text" class="form-control " id="repair_sensor" name="repair_sensor" value="{{repair_sensor}}">
                </div>
                <div class="col">
                <select class="form-select" id="repair_sens_type" name="repair_sens_type" value="{{repair_sens_type}}">
                    <option></option>
                    <option {{'selected' if repair_sens_type == 'NO2'}}>NO2</option>
                    <option {{'selected' if repair_sens_type == 'O3'}}>O3</option>
                    <option {{'selected' if repair_sens_type == 'NO'}}>NO</option>
                    <option {{'selected' if repair_sens_type == 'CO'}}>CO</option>
                    <option {{'selected' if repair_sens_type == 'SO2'}}>SO2</option>
                    <option {{'selected' if repair_sens_type == 'H2S'}}>H2S</option>
                    <option {{'selected' if repair_sens_type == 'VOC'}}>VOC</option>
                    <option {{'selected' if repair_sens_type == 'NH3'}}>NH3</option>
                    <option {{'selected' if repair_sens_type == 'HCL'}}>HCL</option>
                </select>
                </div>
                {% endif %}
                <!--
                {% if repair2_filter == 'Location'%}
                <div class="col">
                    <div class="btn-group">
                        <div class="btn-group-vertical">
                            <button id="apply_repair" type="button" class="form-control btn btn-outline-success restful" data-method="POST" data-uri="/post/repair2_getposition_2_ok/">AFE4 OK</button>
                            <button id="apply_repair" type="button" class="form-control btn btn-outline-success restful" data-method="POST" data-uri="/post/repair2_getposition_2_nok/">AFE4 NOT_OK</button>
                        </div>
                        <div class="btn-group-vertical">
                            <button id="apply_repair" type="button" class="form-control btn btn-outline-success restful" data-method="POST" data-uri="/post/repair2_getposition_1_ok/">AFE2 OK</button>
                            <button id="apply_repair" type="button" class="form-control btn btn-outline-success restful" data-method="POST" data-uri="/post/repair2_getposition_1_nok/">AFE2 NOT_OK</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                -->
                <div class="col">
                <button id="clear_repair" type="button" class="form-control btn btn-outline-warning restful" data-method="POST" data-uri="/post/repair2_clear/">Clear</button>
                </div>
                <div class="col">
                <button id="apply_repair" type="submit" class="form-control btn btn-outline-danger" >Set</button>
                </div>
                <div class="col-1"></div>
            </div>
            </form>
            {% if afes_filter == "ALL" %}
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">All</h4>
            </div>
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_all" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable_num(0, 'table_all')" class="sticky-top table-secondary">#</th>
                        {% for col in afes[0].keys() %}
                            {% if col == "location" or col == "conditioning" %}
                                <th scope="col" onclick="sortTable_num({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% else%}
                                <th scope="col" onclick="sortTable({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% set num = namespace(value = 0) %}
                        {%for row in afes %}
                            {% if row['location'] and row['location'] != 'OUTDATED' %}
                            {% set num.value = num.value + 1 %}
                                {% set outloop = loop.index0 %}
                                {% if row['state'] == "NOT_OK" %}
                                <tr class = "table-danger">
                                {% elif row['state'] == "OK"%}
                                <tr class = "table-success">
                                {% elif row['state'] == "NOT_TESTED"%}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" nowrap>{{num.value}}</td>
                                    {% for col in row.values()%}
                                        {% if loop.index >= 4 and loop.index <= 7 and col %}
                                        <td nowrap>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col}}">
                                                {{col.split(' ')[0] if col and '-' in col else col}}
                                            </button>
                                        </td>
                                        {% else %}
                                            {% if col and '#' in col %}
                                            <td nowrap>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col.replace('#','\n')}}">
                                                view ({{col.count('#')}})
                                            </button>
                                            </td>
                                            {% else%}
                                                <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif afes_filter == "SBOX" %}
                {%for box in boxes %}
                <div>
                    <div class="row bg-info border border-info rounded text-center text-white mx-3">
                        <div class="col-1">
                        {% if powered[loop.index0] %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-battery-charging" viewBox="0 0 16 16">
                            <path d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"/>
                            <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/>
                            <path d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z"/>
                            <path d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"/>
                        </svg>
                        {% endif %}
                        </div>
                        <div class="col">
                            <h4 >{{box}}</h4>
                        </div>
                        <div class="col-1">
                            <h4 >{{ '(' + occupy[box][0] | string +' / ' + occupy[box][1] | string + ')' if not box.startswith("ABOX") and not box.startswith("SBOX_0") else ''}}</h4>
                        </div>
                    </div>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    <table id="table_afes_{{box}}" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable_num(0, 'table_afes_{{box}}')" class="sticky-top table-secondary">#</th>
                            {% for col in afes[0].keys() %}
                                {% if col == "location" or col == "conditioning" %}
                                    <th scope="col" onclick="sortTable_num({{loop.index}}, 'table_afes_{{box}}')" class="sticky-top table-secondary">{{col}}</th>
                                {% else%}
                                    <th scope="col" onclick="sortTable({{loop.index}}, 'table_afes_{{box}}')" class="sticky-top table-secondary">{{col}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            {% set num = namespace(value = 0) %}
                            {%for row in afes %}
                                {% if row['location'] and row['location'].startswith(box) %}
                                {% set num.value = num.value + 1 %}
                                    {% set outloop = loop.index0 %}
                                    {% if row['state'] == "NOT_OK" %}
                                    <tr class = "table-danger">
                                    {% elif row['state'] == "OK"%}
                                    <tr class = "table-success">
                                    {% elif row['state'] == "NOT_TESTED"%}
                                    <tr class = "table-warning">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td id="cell_0" contenteditable="true" nowrap>{{num.value}}</td>
                                        {% for col in row.values() %}
                                            {% if loop.index >= 4 and loop.index <= 7 and col %}
                                            <td nowrap>
                                                <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col}}">
                                                    {{col.split(' ')[0] if col and '-' in col else col}}
                                                </button>
                                            </td>
                                            {% else %}
                                                {% if col and '#' in col %}
                                                <td nowrap>
                                                <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col.replace('#','\n')}}">
                                                    view ({{col.count('#')}})
                                                </button>
                                                </td>
                                                {% elif col and 'BOX' in col %}
                                                <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col.split('-')[-1] if col != None else ""}}</td>
                                                {% else%}
                                                    <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            {% elif afes_filter == "STOCK" %}
            {% set boxes = ["AVAILABLE STOCK", "CONDITIONING STOCK", "FOR REPAIR"] %}
            {% set stocks = [stocks_ok, stocks_conditioning, stocks_ko] %}
                {%for box in boxes %}
                {% if stocks[loop.index0] %}
                <div>
                    <h4 class=" bg-info border border-info rounded text-center text-white mb-3">{{box}}</h4>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    {% set states = ["ready", "conditioning"] %}
                    <table id="table_stock_{{loop.index0}}" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable(0, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Afe</th>
                            <th scope="col" onclick="sortTable(1, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Sensors</th>
                            {% if box == "CONDITIONING STOCK" %}
                            <th scope="col" onclick="sortTable(2, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Storaged days</th>
                            <th scope="col" onclick="sortTable_num(3, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Units</th>
                            {% else %}
                            <th scope="col" onclick="sortTable_num(2, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Units</th>
                            {% endif%}
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks[loop.index0] %}
                            <tr>
                                {% if box == "CONDITIONING STOCK" %}
                                <td nowrap>{{row[0]}}</td>
                                <td nowrap>{{row[2]}}</td>
                                <td nowrap>{{row[1]}}</td>
                                <td nowrap>{{row[3]}}</td>
                                {% else %}
                                <td nowrap>{{row[0]}}</td>
                                <td nowrap>{{row[1]}}</td>
                                <td nowrap>{{row[2]}}</td>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% endfor %}
                {% if stocks_outdate[1:] %}
                {% set location = stocks_outdate[0].index('location') %}
                <div>
                    <h4 class=" bg-info border border-info rounded text-center text-white mb-3">OUTDATED</h4>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    <table id="table_stocks_{{box}}" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable_num(0, 'table_stocks_{{box}}')" class="sticky-top table-secondary">#</th>
                            {% for col in stocks_outdate[0] %}
                            <th scope="col" onclick="sortTable({{loop.index}}, 'table_stocks_{{box}}')" class="sticky-top table-secondary">{{col}}</th>
                            {% endfor %}
                            <th scope="col" class="sticky-top table-secondary">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks_outdate[1:] %}
                            {% if row[location] == "OUTDATED" %}
                                {% set outloop = loop.index0 %}
                                {% if row[1] == "NOT_OK" %}
                                <tr class = "table-danger">
                                {% elif row[1] == "OK"%}
                                <tr class = "table-success">
                                {% elif row[1] == "NOT_TESTED"%}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" contenteditable="true" nowrap>{{loop.index}}</td>
                                    {% for col in row %}
                                        {% if loop.index >= 4 and loop.index <= 7 and col %}
                                        <td nowrap>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col}}">
                                                {{col.split(' ')[0] if col and '-' in col else col}}
                                            </button>
                                        </td>
                                        {% else %}
                                            {% if col and '#' in col %}
                                            <td nowrap>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col.replace('#','\n')}}">
                                                view ({{col.count('#')}})
                                            </button>
                                            </td>
                                            {% else%}
                                                <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <button id="oudate_{{row[1]}}" name="oudate_{{row[1]}}" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/post/outdate_{{row[1]}}/">Oudate</button>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <button id="oudate_all" name="oudate_all" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/post/outdate_all/">Oudate All</button>
                </div>
                {% endif%}
                {% if stocks_assembled[1:] %}
                <div>
                    <h4 class=" bg-info border border-info rounded text-center text-white mb-3">ASSEMBLED</h4>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    <table id="table_all" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable_num(0, 'table_all')" class="sticky-top table-secondary">#</th>
                            {% for col in stocks_assembled[0] %}
                            <th scope="col" onclick="sortTable({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks_assembled[1:] %}
                                {% set outloop = loop.index0 %}
                                {% if row[1] == "NOT_OK" %}
                                <tr class = "table-danger">
                                {% elif row[1] == "OK"%}
                                <tr class = "table-success">
                                {% elif row[1] == "NOT_TESTED"%}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" contenteditable="true" nowrap>{{loop.index}}</td>
                                    {% for col in row %}
                                        {% if loop.index >= 4 and loop.index <= 7 and col %}
                                        <td nowrap>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col}}">
                                                {{col.split(' ')[0] if col and '-' in col else col}}
                                            </button>
                                        </td>
                                        {% else %}
                                        {% if col and '#' in col %}
                                            <td nowrap>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col.replace('#','\n')}}">
                                                view ({{col.count('#')}})
                                            </button>
                                            </td>
                                            {% else%}
                                                <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif%}
            {% endif %}
        </div>
        {% endif %}
    </div>

  {% endblock %}
