{% extends "base_template.html" %}

{% block title %}Anomaly{% endblock %}

{% block head %} 

<style>
    .table > tbody > tr > td {
        vertical-align: middle;
   }
</style>

<script>
    $(document).ready(function(){
    //alert("hide_progessing")
    $("#view_anomaly_processing").hide()
    $("#view_anomaly").click(function(){
        $(this).hide();
        $("#view_anomaly_processing").show();
        //alert("hide_view");
      });
    });
</script>
{% endblock %}

{% block content %}
<div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
    <div class="row hidden-print">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h4 class="m-1">Anomaly Detection</h4>
            </div>
        </div>
    </div>
    <div class="row hidden-print">
        <div class="col">
            <form action="/view_anomaly/" method="post">
                <div class="row m-3">
                    <div class="col">
                        <select class="form-select" name="afe_selected" id="afe_selected" value="afe_selected">
                            {% if start_date %}
                            <option {{'selected' if afe_selected == start_date.strftime('%d-%m-%Y %H:%M')}}>{{start_date.strftime('%d-%m-%Y %H:%M')}}</option>
                            {% endif %}
                            {% for afe in saved_afes %}
                            <option {{'selected' if afe_selected == afe}}>{{afe}}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="col-4">
                        {% for cicle in range(num_cicles + 1) %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="cicles_{{loop.index0}}" name="cicles_{{loop.index0}}" value="{{cicles[loop.index0]}}" {{'checked' if cicles[loop.index0]}} >
                            <label class="form-check-label" for="cicles_{{loop.index0}}">Cicle {{loop.index0}}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <select class="form-select" name="resample">
                                <option {{'selected' if resample == 'None'}}>None</option>
                                <option {{'selected' if resample == '1 min'}}>1 min</option>
                                <option {{'selected' if resample == '5 min'}}>5 min</option>
                            </select>
                            <span class="input-group-text">Filter</span>
                        </div>
                    </div>
                    <div class="col my-auto">
                        <button id="view_anomaly" type="submit" class="btn btn-outline-success restful">Get data</button>
                        <button id="view_anomaly_processing" class="btn btn-outline-success" disabled>
                            <span class="spinner-border spinner-border-sm"></span>
                            Processing..
                        </button>
                        {% if start_date %}
                        <button id="save_anomaly_results" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/save_anomaly/">Save results</button>
                        {% endif %}
                    </div>
                    <div class="col-1 my-auto">
                        {% set file = "chronograf.png" %}
                        {% set filename = url_for('static', filename = file) %}
                        <a href="http://chronograf.bettair/sources/15/chronograf/data-explorer?query=SELECT%20mean%28%22TEMP_HB%22%29%20AS%20%22mean_TEMP_HB%22%20FROM%20%22anomaly_box%22.%22autogen%22.%22raw_data%22%20WHERE%20time%20%3E%20%3AdashboardTime%3A%20AND%20time%20%3C%20%3AupperDashboardTime%3A%20GROUP%20BY%20time%28%3Ainterval%3A%29%2C%20%22cartridge%22%20FILL%28null%29" target="_blank">
                        <img src="{{filename}}" alt="{{filename}}" style = "width:30px;height:30px;">
                        </a>
                        <!--<button id="load_anomaly_results" type="button" class="btn btn-outline-success restful" data-method="POST" data-uri="/load_anomaly/">Load results</button>-->
                    </div>  
                </div>
            </form>
        </div>
    </div>
    {% if validate_test %}
    <div class="row">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h6 class="m-1">Result</h6>
            </div>
        </div>
    </div>
    
    <table class="table mb-3 hidden-print">
        <thead>
            <tr>
            <th>AFE</th>
            <th>Location</th>
            <th>State</th>
            </tr>
        </thead>
        <tbody>
        {% for afe in afes_result_test %}
        <tr>
            <td class="table-info">{{afe}}</td>
            <td class="table-info">{{afes_result_test[afe][0]}}</td>
            <td class="table-info">{{afes_result_test[afe][1]}}</td>
            {% for sensor in afes_result_test[afe][2:-1] %}
            <td class="{{'table-success' if '*' in sensor else 'table-danger'}}">{{sensor.replace("*","")}}</td>
            {% endfor %}
            <td>
                {% if afes_result_test[afe][-1] %}
                <button id="save_anomaly_results" type="button" class="btn btn-outline-success restful" data-method="POST" data-uri="/anomaly/afe/ok/{{afe}}/">OK</button>
                {% else %}
                <button id="save_anomaly_results" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/anomaly/afe/not_ok/{{afe}}/">NOT OK</button>
                {% endif %}
            </td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
    {% endif %}
    <form action="/validate_anomaly/" method="post">
    {% set electrodes = ["AE", "WE", "DIFF"] %}
    {% for sensor in show_sensors %}
    <div class="row hidden-print">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h6 class="m-1">{{sensor}} ({{sensors_gas[loop.index0]}})</h6>
            </div>
        </div>
    </div>
        {% set outer_loop = loop.index0 %}
        {% for electrode in electrodes%}
        <div class="saltopagina"></div>
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col">
                <div class="text-center">
                    <h6>{{sensor}}_{{electrode}} ({{sensors_gas[outer_loop]}})</h6>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-4 m-auto p-3">
                {% set file = sensor + "_" + electrode + "_mean_pearson_anomaly.png" %}
                {% set filename = url_for('static', filename = file) %}
                <div class="m-3 p-3"> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
            </div>
            <div class="col-lg m-auto">
                {% set file = sensor + "_"+ electrode +"_mean_anomaly.png" %}
                {% set filename = url_for('static', filename = file) %}
                <div> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
            </div>
        </div>
        
        <div class="row mb-3 mx-3 hidden-print">
            <table class="table mb-3">
                <thead>
                    <tr>
                    <th>AFE</th>
                    <th>Std desv</th>
                    <th>%</th>
                    <th>Max - min</th>
                    <th>%</th>
                    <th>50% - 25%</th>
                    <th>%</th>
                    {% if start_date %}
                    <th>OK</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                    
                {% set index = sensor + "_" + electrode + "_mean" %}
                {% for afe in std_dict[index] %}
                <tr>
                    <td class="table-info">{{afe}}</td>
                    {% for i in range(3) %}
                        {% set percent = (((std_dict[index][afe][i] - std_dict[index]['ref'][i]) / std_dict[index]['ref'][i]) * 100) | round(1) %}
                        {% if afe == 'ref' or afe == 'mean' %}
                            {% set color = "table-info" %}
                        {% elif percent | abs > 50.0 %}
                            {% set color = "table-danger" %}
                        {% elif percent | abs > 30.0 %}
                            {% set color = "table-warning" %}
                        {% else %}
                            {% set color = "table-success" %}
                        {% endif %}
                        <td class = "{{color}}">{{std_dict[index][afe][i]}}</td>
                        <td class = "{{color}}">{{percent}}</td>
                    {% endfor %}
                    
                    {% if start_date %}
                        {% if afe != 'ref' and afe != 'mean' %}
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="validate_{{afe}}_{{sensor}}_{{electrode}}_{{sensors_gas[outer_loop]}}" name="validate_{{afe}}_{{sensor}}_{{electrode}}_{{sensors_gas[outer_loop]}}" value="{{cicles[loop.index0]}}" >
                            </div>
                        </td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
        {% endfor %}
    {% endfor %}
        {% set amb = ["TEMP", "RH"] %}
        {% for i in range(2) %}
        <div class="row">
            <div class="col">
                <div class="bg-info border border-info rounded text-center mb-3">
                    <h6 class="m-1 text-white">{{amb[i]}}</h6>
                </div>
            </div>
        </div>
        {% set outer_loop = loop.index0 %}
        <div class="row mb-1">
            <div class="col-2"></div>
            <div class="col-lg m-auto">
                {% set file = amb[i] + "_HB_ambient.png" %}
                {% set filename = url_for('static', filename =file) %}
                <div> <img src="{{filename}}" class="img-fluid" alt="Not found {{file}}" ></div>
            </div>
            <div class="col-2"></div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="bg-info border border-info rounded text-center mb-3">
                    <h6 class="m-1">RESULT</h6>
                </div>
            </div>
        </div>
    {% if show_sensors and start_date%}
    <button id="validate_anomaly_button" type="submit" class="btn btn-outline-info">Validate test</button>
    {% endif %}
    </form>
</div>
     
  {% endblock %}