<!DOCTYPE html>
<html lang="{{idioma}}">
 
<head>
  <title>{% block title %} {% endblock %}</title>
  <!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon/" />
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  -->
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" />
  
  <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

 <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!--<script src="{{url_for('static', filename='jquery.doubleScroll.js')}}"></script>-->
  
  
  {% block head %} {% endblock %}
  <style>
    legend{
      font-size: 20px; 
    }

    html{background-color: lightgray} 
  body{background-color: lightgray;} 
          
  fieldset{background-color:white;}
  legend{background-color:whitesmoke;}

  * { box-sizing: border-box; }
  body {
    font: 16px Arial;
  }

  .container {
    width: 70%;
    margin: 15px auto;
  }
  body {
    text-align: center;
    color: #5bc0de;
  }
  h2 {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 30px;
  }

  @media all {
    div.saltopagina{
       display: none;
    }
 }
    
 @media print{
    div.saltopagina{
       display:block;
       page-break-before:always;
    }

    div {
      break-inside: avoid;
    }

    .hidden-print {
      display: none !important;
    }
 }
  </style>

  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

      // Generic post
  $(document).ready(function(){
    $(".post").change(function(){
      $.post("/post/"+$(this).attr('id')+"/", $(this).serialize())
      .fail(function () {alert("Fallo de comunicación con el servidor")});
    });
  });

  // Generic post-reload
  $(document).ready(function(){
    $(".post-reload").change(function(){
      $.post("/post/"+$(this).attr('id')+"/",  
        $(this).serialize())
          .done(function(data){ location.reload();})
          .fail(function () {alert("Fallo de comunicación con el servidor")});
    });
  });
  
  // Generic post-check
  $(document).ready(function(){
    $(".post-check").change(function(){
      var id = $(this).attr('id');
      $.post("/post/"+$(this).attr('id')+"/", {boolean : $(this).is(":checked")})
        .fail(function () {alert("Fallo de comunicación con el servidor")});
    });
  });

  // Generic post-check-reload
  $(document).ready(function(){
    $(".post-check-reload").change(function(){
      var id = $(this).attr('id');
      $.post("/post/"+$(this).attr('id')+"/", {boolean : $(this).is(":checked")})
        .done(function() { location.reload();})
        .fail(function () {alert("Fallo de comunicación con el servidor")});
    });
  });

  // enviem les dades editades de les taules al servidor
  $(document).ready(function(){  
      $('th.sorteable').click(function(){
        $.get("/sensors/sort_sensors_"+$(this).text()+"/", function() { location.reload();})
      });
      
    });

    // enviem les dades editades de les taules al servidor
  //$(document).ready(function(){  
  //    $('#orders_address').blur(function(){
  //        $.post("/post/"+$(this).attr('id')+"/", {orders_address : $(this).html(), orders_address1 : $(this).text()})
  //          .done(function() { location.reload();});
  //    });
  //    $('#billing_address').blur(function(){
  //        $.post("/post/"+$(this).attr('id')+"/", {billing_address : $(this).html(), billing_address1 : $(this).text()})
  //          .done(function() { location.reload();});
  //    });
  //  });

  // capturem el event de tancament de alerta i actualitzem al servidor
  $(document).ready(function(){
    $(".alert").on('close.bs.alert', function(){
      //alert('Closing --> '+$(this).attr('id'));
      $.post("/post/close_alert_"+$(this).attr('id')+"/", $(this).serialize())
      .done(function() { location.reload();})
      .fail(function () {alert("Fallo de comunicación con el servidor")});
    });
  });
  
   // Generem els links GET, POST, PUT y DELETE de la caixa
   $(document).ready(function(){
    $(document).on("click", ".box, .confirm, .restful", function () {
    //$(".box.confirm").click(function(){ 
      var myHeading = "";
        var uri = $(this).attr("data-uri");
        var method = $(this).attr("data-method");
        //alert("method: "+method+" uri: "+uri);
        if (method == "GET")
          $.get(uri, function() {location.reload()});
        else if (method == "DELETE"){
          $.ajax({
            type: "DELETE",
            url: uri,
            }).done(function() {
              location.reload();
            });
          }
        else if (method == "POST")
          $.post(uri, function() {location.reload()});
        else if (method == "POST_NORELOAD")
          $.post(uri);
        else if (method == "PUT"){
          $.ajax({
            type: "PUT",
            url: uri,
            }).done(function() {
              location.reload();
            });
          }
          else if (method == "PUT-SPINNER"){
          // disable button
          $(this).prop("disabled", true);
          // add spinner to button
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Actualizando...`
          );
          $.ajax({
            type: "PUT",
            url: uri,
            }).done(function() {
              location.reload();
            });
          }
        else
          return;
      });
    });
   
    $(document).ready(function(){
      {% if alerts %}
      animation();
      {% endif %}
    });

    function animation(){
      var body = $("html, body");
      body.stop().animate({scrollTop:0}, 500, 'swing', function() { 
        //alert("Finished animating");
      });
    }

    function sortTable(n, id) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById(id);
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                  }
              } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                  }
              }
          }
          if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
              } 
          else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
              }
          }
      }
  }

  function sortTable_num(n, id) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById(id);
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                  if (Number(x.innerHTML) > Number(y.innerHTML)) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                  }
              } else if (dir == "desc") {
                  if (Number(x.innerHTML) < Number(y.innerHTML)) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                  }
              }
          }
          if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
              } 
          else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
              }
          }
      }
  }

  
  // Per debugar
  //$( window ).resize(function(){
  //  $("#user_login").html("Result Size: <span>" +  $("html").width() + " x " + $("html").height() + "</span>");
  //});
  
  </script>
  {% block script %}{% endblock %} 
  </head>
  <body>
    
    {% block navbar %}
    <div class="container-fluid px-0 mx-0 hidden-print">
      <nav class="navbar navbar-expand-lg bg-info navbar-dark mt-0" style="margin:10px 0;" >
        <!--<img class="img-fluid" src="{{url_for('static', filename='ziv.jpg')}}" style="width:10%;height:10%">-->
        <a class="navbar-brand mx-3" href="/">
          <img src="{{url_for('static', filename='bettair-logo.png')}}" alt="Bettair" width="125" height="51">
        </a>
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Automation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noise_test/">Noise Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/anomaly_test/">Anomaly Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/co2_test/">CO2 test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tunel_test/">Tunel</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/data_base/">Afes Mongo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/repairs/">Repairs</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="/afes/">Afes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sensors/">Sensors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tested/">Tested Nodes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock2/">Stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders/">Orders</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a id="user_login" class="nav-link" href="/login">{{user}}</a>
          </li>
        </ul>
        {% if debug_mode %}
          <a class="navbar-brand mx-3" href="/">
            <img src="{{url_for('static', filename='debug-removebg.png')}}" alt="BetDebug mode" width="30" height="30">
            <h6 class="text-dark">DEBUG MODE</h6>
          </a>
        {% endif %}
      </nav>
    </div>  
    {% endblock %}

  
  <!-- ALERTAS -->
  {% for alert in alerts %}
  <div id="{{ loop.index0 }}" class="alert {{alert[1]}} alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {% for line in alert[0].split('\n') %}
    <p>{{line}}</p>
    {% endfor %}
  </div>
  {% endfor %}
  {% if alerts %}
  <button id="close_alerts" name="close_alerts" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/post/close_alerts_all/">Close All</button>
  {% endif %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  <footer>
    <p class="text-center m-1">Anomaly Detection v1.11.12</p>
  </footer>
  </body>
</html>
