{% extends "base_template.html" %}

{% block title %}CO2 TEST{% endblock %}

{% block head %} 

<style>
    .table > tbody > tr > td {
        vertical-align: middle;
   }
</style>

<script>
    $(document).ready(function(){
    //alert("hide_progessing")
    $("#view_anomaly_processing").hide()
    $("#view_anomaly").click(function(){
        $(this).hide();
        $("#view_anomaly_processing").show();
        //alert("hide_view");
      });
    });


    $(document).ready(function(){
        var intervalId = setInterval(function() {
            {% if running_co2%}
            location.reload();
            {% endif %}
            //alert("starting");
          }, 5000);
          //alert("started");
    });
    
</script>
{% endblock %}

{% block content %}
<div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
    <div class="row hidden-print">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h4 class="m-1">CO2 Test</h4>
            </div>
        </div>
    </div>
    <div class="row hidden-print">
        <div class="col">
                <div class="row hidden-print">
                    <div class="col">
                        <div class="bg-info border border-info rounded text-center text-white mb-3">
                            <h6 class="m-1">Master co2 Value</h6>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col"></div>
                        <div class="col-1">
                    <h6 class="m-1 text-bg-success">{{co2_master}} ppm</h6>
                    </div>
                    <div class="col"></div>
                </div>
                <form action="/start_stop_co2_test/" method="post">
                    <div class="row hidden-print">
                        <div class="col">
                            <div class="bg-info border border-info rounded text-center text-white mb-3">
                                <h6 class="m-1">Start - Stop</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        {% for i in range (8) %}
                        <div class="col">
                        {% if running_co2 %}
                            {% if co2_detected[loop.index0] %}
                                <span class="m-1 text-success">&#10004; Sensor {{loop.index}}</span>
                            {% else %}  
                                <span class="m-1 text-danger">&#10006; Sensor {{loop.index}}</span>  
                            {% endif %}
                        {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row m-3">
                        {% for i in range (8) %}
                        <div class="col">
                        <input type="text" class="form-control" id="co2_sensor_{{loop.index0}}" name="co2_sensor_{{loop.index0}}" value="{{co2_sensors[loop.index0]}}">
                        </div>
                        {% endfor %}
                    </div>
                    {% if running_co2 %}
                    <div class="row hidden-print">
                        <div class="col">
                            <div class="text-center">
                                <h6 class="m-1">co2</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        {% for i in range (8) %}
                        <div class="col">
                        <input type="text" class="form-control" id="co2_{{loop.index0}}" name="co2_{{loop.index0}}" value="{{co2[loop.index0]}}" readonly>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row hidden-print">
                        <div class="col">
                            <div class="text-center">
                                <h6 class="m-1">Temperature</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        {% for i in range (8) %}
                        <div class="col">
                        <input type="text" class="form-control" id="temp_{{loop.index0}}" name="temp_{{loop.index0}}" value="{{temp[loop.index0]}}" readonly>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row hidden-print">
                        <div class="col">
                            <div class="text-center">
                                <h8 class="m-1">Humidity</h8>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        {% for i in range (8) %}
                        <div class="col">
                        <input type="text" class="form-control" id="hum_{{loop.index0}}" name="hum_{{loop.index0}}" value="{{hum[loop.index0]}}" readonly>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row hidden-print">
                        <div class="col">
                            <div class="text-center">
                                <h6 class="m-1">Progess</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col"></div>
                        <div class="col-8">
                            <div class="progress">
                                <div id="progressbar" class="progress-bar bg-danger" style="width:{{progress}}%">{{progress}}%</div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>        
                    {% endif %}
                    
                    <div class="row m-3">
                        <div class="col"></div>
                        <div class="col-1">
                            {% if not running_co2 %}
                            <button id="start_co2" type="submit" class="btn btn-outline-danger restful">Start</button>
                            {% else %}
                            <button id="stop_co2" type="submit" class="btn btn-outline-danger restful" >Stop</button>
                            {% endif %}
                        </div>
                        <div class="col"></div>
                    </div>
                    
                </form>
                <form action="/view_co2_test/" method="post">
                    <div class="row hidden-print">
                        <div class="col">
                            <div class="bg-info border border-info rounded text-center text-white mb-3">
                                <h6 class="m-1">View results</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col"></div>
                        <div class="col-4">
                            <select class="form-select" name="co2_selected" id="co2_selected" value="co2_selected">
                                {% for tests in saved_co2 %}
                                <option {{'selected' if co2_selected == tests}}>{{tests}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row m-3">
                        <div class="col my-auto">
                            <button id="view_anomaly" type="submit" class="btn btn-outline-success restful">Get data</button>
                            <button id="view_anomaly_processing" class="btn btn-outline-success" disabled>
                                <span class="spinner-border spinner-border-sm"></span>
                                Processing..
                            </button>
                    </div>
                </form>
                </div>
            
        </div>
    </div>
    
    {% if not running_co2%}
    {% set electrodes = ["CO2", "TEMPERATURE", "HUMIDITY"] %}
    {% set tables = ["df", "df_temp", "df_hum"] %}
    {% for electrode in electrodes%}    
        <div class="row hidden-print">
            <div class="col">
                <div class="bg-info border border-info rounded text-center text-white mb-3">
                    <h6 class="m-1">{{electrode}}</h6>
                </div>
            </div>
        </div>
        <div class="saltopagina"></div>
        <div class="row mb-1">
            <div class="col-lg-4 m-auto p-3">
                {% set file = "pearson_co2_" + tables[loop.index0] + ".png" %}
                {% set filename = url_for('static', filename = file) %}
                <div class="m-3 p-3"> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
            </div>
            <div class="col-lg m-auto">
                {% set file = "co2_" + tables[loop.index0] +".png" %}
                {% set filename = url_for('static', filename = file) %}
                <div> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
   
       
    
</div>
     
  {% endblock %}