{% extends "base_template.html" %}

{% block title %}Base de datos{% endblock %}

{% block head %} 
<style>
 
td.fit{
    width:1%;
    white-space:nowrap;
}

th {
  cursor: pointer;
}

input {
  max-width: 500px;
}


</style>
{% endblock %}

{% block script %}
<script>

    $(document).ready(function(){
        // Redimensionem la web per que capigue la taula completa
        if ($("#table").length){
            var table_width = $("#table").css("width")
            table_width = (parseInt(table_width.replace(/px/,""))+80)+"px"
            $("html").width(table_width)
            }
    });
  
    $(document).ready(function() {
        $("#input-folder-1").fileinput({
            browseLabel: 'Select Folder...'
        });
    });

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>
{% block script_extra %}{% endblock %}
{% endblock %}
 
{% block content %}
    <div class="container-fluid">
        {% if afes %}
        <div id="div_table" class="col border border-info rounded  p-2 my-3" style="background-color:whitesmoke;">
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">AFES MONGO</h4>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col-2"></div>
                    <div class="col">
                        <form action="/view_db/" method="get">
                        <div class="input-group">
                            <select class="form-select" name="database_filter" id="database_filter" value="{{database_filter}}">
                                <option {{'selected' if database_filter == 'ALL'}}>ALL</option>
                                <option {{'selected' if database_filter == 'SBOX'}}>SBOX</option>
                                <option {{'selected' if database_filter == 'STOCK'}}>STOCK</option>
                            </select>
                            <button id="view_noise_5" type="submit" class="btn btn-outline-success">View</button>
                        </div>
                        </form>
                    </div>
                    <!--<div class="col-1"></div>-->
                    <div class="col">
                        <form action="/post/add_afes_mongo/" enctype="multipart/form-data" method="post">
                        <div class="mb-3 input-group">
                            <input class="form-control" type="file" id="file" name="file" multiple>
                            <button id="Add_afes" type="submit" class="btn btn-outline-danger" >Add</button>
                        </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            {% if database_filter == "ALL" %}
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_all" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable_num(0, 'table_all')" class="sticky-top table-secondary">#</th>
                        {% for col in afes[0][:-1] %}
                        <th scope="col" onclick="sortTable({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                        {% endfor %}
                        <th scope="col" onclick="sortTable_num({{afes[0] | length}}, 'table_all')" class="sticky-top table-secondary">conditioning</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for row in afes[1:] %}
                            {% set outloop = loop.index0 %}
                            {% if row[1] == "NOT_OK" %}
                            <tr class = "table-danger">
                            {% elif row[1] == "OK"%}
                            <tr class = "table-success">
                            {% elif row[1] == "NOT_TESTED"%}
                            <tr class = "table-warning">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td id="cell_0" contenteditable="true" nowrap>{{loop.index}}</td>
                                {% for col in row %}
                                <td id="cell_{{outloop}}_{{loop.index0}}" contenteditable="true" nowrap>{{col if col != None else ""}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif database_filter == "SBOX" %}
            {% set boxes = ["TESTING", "SBOX_4-1", "SBOX_4-2", "SBOX_4-3", "SBOX_4-4", "SBOX_4-5", "SBOX_4-6", "SBOX_4-7", "SBOX_4-8", "SBOX_2-1", "SBOX_2-2", "SBOX_2-3"] %}
            {% set powered = [True, True, True, True, True, False, False, False, False, True, True, False] %}
            {% set location = afes[0].index('location') %}
                {%for box in boxes %}
                <div>
                    <div class="row bg-info border border-info rounded text-center text-white mx-3">
                        <div class="col-1">
                        {% if powered[loop.index0] %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-battery-charging" viewBox="0 0 16 16">
                            <path d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"/>
                            <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/>
                            <path d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z"/>
                            <path d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"/>
                        </svg>
                        {% endif %}
                        </div>
                        <div class="col">
                            <h4 >{{box}}</h4>
                        </div>
                        <div class="col-1">
                            <h4 >{{ '(' + occupy[box][0] | string +' / ' + occupy[box][1] | string + ')' if box != "TESTING" else ''}}</h4>
                        </div>
                    </div>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    <table id="table_sbox_{{box}}" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable_num(0, 'table_sbox_{{box}}')" class="sticky-top table-secondary">#</th>
                            {% for col in afes[0][:-1] %}
                                {% if col == "location" %}
                                <th scope="col" onclick="sortTable_num({{loop.index}}, 'table_sbox_{{box}}')" class="sticky-top table-secondary">{{col}}</th>
                                {% else%}
                                <th scope="col" onclick="sortTable({{loop.index}}, 'table_sbox_{{box}}')" class="sticky-top table-secondary">{{col}}</th>
                                {% endif %}
                            {% endfor %}
                            <th scope="col" onclick="sortTable_num({{afes[0] | length}}, 'table_sbox_{{box}}')" class="sticky-top table-secondary">conditioning</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% set outloop = namespace(value=0) %}
                            {%for row in afes[1:] %}
                                {% if row[location].startswith(box) %}
                                    {% set outloop.value = outloop.value + 1 %}
                                    {% if row[1] == "NOT_OK" %}
                                    <tr class = "table-danger">
                                    {% elif row[1] == "OK"%}
                                    <tr class = "table-success">
                                    {% elif row[1] == "NOT_TESTED"%}
                                    <tr class = "table-warning">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td id="cell_0" contenteditable="true" nowrap>{{outloop.value}}</td>
                                        {% for col in row %}
                                            {% if col and col.startswith("SBOX") %}
                                            <td id="cell_{{outloop.value}}_{{loop.index0}}" contenteditable="true" nowrap>{{col.split('-')[2] if col != None else ""}}</td>
                                            {% else %}
                                            <td id="cell_{{outloop.value}}_{{loop.index0}}" contenteditable="true" nowrap>{{col if col != None else ""}}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            {% elif database_filter == "STOCK" %}
            {% set boxes = ["AVAILABLE STOCK", "CONDITIONING STOCK", "FOR REPAIR"] %}
            {% set stocks = [stocks_ok, stocks_conditioning, stocks_ko] %}
                {%for box in boxes %}
                {% if stocks[loop.index0] %}
                <div>
                    <h4 class=" bg-info border border-info rounded text-center text-white mb-3">{{box}}</h4>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    {% set states = ["ready", "conditioning"] %}
                    <table id="table_stock_{{loop.index0}}" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable(0, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Sensors</th>
                            {% if box == "CONDITIONING STOCK" %}
                            <th scope="col" onclick="sortTable(1, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Storaged days</th>
                            {% endif%}
                            <th scope="col" onclick="sortTable(1, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Units</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks[loop.index0] %}
                            <tr>
                                <td nowrap>{{row[0]}}</td>
                                {% if box == "CONDITIONING STOCK" %}
                                <td nowrap>{{row[1]}}</td>
                                <td nowrap>{{row[2]}}</td>
                                {% elif box == "AVAILABLE STOCK" %}
                                <td nowrap>{{row[2]}}</td>
                                {% else %}
                                <td nowrap>{{row[1]}}</td>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% endfor %}
                {% if stocks_outdate[1:] %}
                {% set location = stocks_outdate[0].index('location') %}
                <div>
                    <h4 class=" bg-info border border-info rounded text-center text-white mb-3">OUTDATED</h4>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    <table id="table_all" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable_num(0, 'table_all')" class="sticky-top table-secondary">#</th>
                            {% for col in stocks_outdate[0] %}
                            <th scope="col" onclick="sortTable({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% endfor %}
                            <th scope="col" class="sticky-top table-secondary">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks_outdate[1:] %}
                            {% if row[location] == "OUTDATED" %}
                                {% set outloop = loop.index0 %}
                                {% if row[1] == "NOT_OK" %}
                                <tr class = "table-danger">
                                {% elif row[1] == "OK"%}
                                <tr class = "table-success">
                                {% elif row[1] == "NOT_TESTED"%}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" contenteditable="true" nowrap>{{loop.index}}</td>
                                    {% for col in row %}
                                    <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                    {% endfor %}
                                    <td>
                                        <button id="oudate_{{row[4]}}" name="oudate_{{row[4]}}" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/post/outdate_{{row[4]}}/">Oudate</button>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <button id="oudate_all" name="oudate_all" type="button" class="btn btn-outline-danger restful" data-method="POST" data-uri="/post/outdate_all/">Oudate All</button>
                </div>
                {% endif%}
                {% if stocks_assembled[1:] %}
                <div>
                    <h4 class=" bg-info border border-info rounded text-center text-white mb-3">ASSEMBLED</h4>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    <table id="table_all" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable_num(0, 'table_all')" class="sticky-top table-secondary">#</th>
                            {% for col in stocks_assembled[0] %}
                            <th scope="col" onclick="sortTable({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks_assembled[1:] %}
                                {% set outloop = loop.index0 %}
                                {% if row[1] == "NOT_OK" %}
                                <tr class = "table-danger">
                                {% elif row[1] == "OK"%}
                                <tr class = "table-success">
                                {% elif row[1] == "NOT_TESTED"%}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" contenteditable="true" nowrap>{{loop.index}}</td>
                                    {% for col in row %}
                                    <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif%}
            {% endif %}
        </div>
        {% endif %}
    </div>
  {% endblock %}
