{% extends "base_template.html" %}

{% block title %}Anomaly{% endblock %}

{% block head %} 

<script>
  
  var labels_time = [];
  var temp_values = []; 
  var temp_values2 = [];
  var hum_values = [];
  var hum_values2 = [];
  var compressor_values = [];
  var heater_values = [];
  function update_values() {
    //alert("update")
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe}};
    $.getJSON($SCRIPT_ROOT+"/update",
        function(data) {
            $("#temp").val(data.temp);
            $("#temp_backup").val(data.temp_backup);
            $("#hum").val(data.hum);
            $("#hum_backup").val(data.hum_backup);
            $("#running_time").text(data.running_time);
            $("#left_time").text(data.left_time);
            var labels_time = data.labels_time;
            var temp_values = data.temp_values;
            var temp_values2 = data.temp_values2;
            update_chart_temp(labels_time, temp_values, temp_values2);
            var hum_values = data.hum_values;
            var hum_values2 = data.hum_values2;
            update_chart_hum(labels_time, hum_values, hum_values2);
            var compressor_values = data.compressor_values;
            var heater_values = data.heater_values;
            update_chart_auto(labels_time, compressor_values, heater_values);
        });
}

var intervalId = setInterval(function() {
  //alert("Interval reached every 1 minute")
  update_values();
  //update_chart_temp();
  //update_chart_hum();
  //update_chart_auto();
}, 1000*60);

</script>

{% endblock %}

{% block content %}
   
  <!-- ----------------------------------------------------------->
  <div class="container-fluid pl-0">
    <!-- Fila 1 -->
    <div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
      <div class="row">
        <div class="col">
          <div class="bg-info border border-info rounded text-center text-white mb-3">
            <h4 class="m-1">Automation</h4>
          </div>
        </div>
      </div>
      <div class="row m-auto">
        <!-- Columna 1 -->
        <div class="col-lg-4 mx-1">
          <div class="row my-5 mx-3">
            <h4>Cartridges - Afe</h4>
            <!-- FORM 1-->
            <div class="col-lg">
              <div class="input-group">
                {% set num_abox = (((afes | length)/5) | int) %}
                <select class="form-select post-reload" name="abox" id="abox" value="{{abox}}">
                  {% for i in range(1, num_abox+1) %}
                  <option class="text-center" {{'selected' if abox == i}}>{{i}}</option>
                  {% endfor %}
              </select>
              <span class="input-group-text">A-BOX</span>
              </div>
            </div>
            <div class="col-lg">
                <div class="input-group">
                  <select class="form-select post-reload" name="sbox" id="sbox" value="{{sbox}}">
                      {% for i in sboxes %}
                      <option class="text-center" {{'selected' if sbox == i}}>{{i}}</option>
                      {% endfor %}
                  </select>
                  <span class="input-group-text">S-BOX</span>
                </div>
            </div>
            <!--<div class="col-lg-3"></div>-->
            <!-- FORM 2-->
                {% set a = 5*(abox-1) %}
                {% set b = 5 + 5 * (abox-1) %}
                {% for cartridge, afe in (afes.items() | list)[a:b] %}
                <div class="input-group mt-3 mx-0 px-0">
                  <span class="input-group-text text-white {{'bg-danger' if abox == 1 else ('bg-dark' if abox == 2)}}">{{loop.index}}</span>
                  <span class="input-group-text">{{cartridge}}</span>

                  {% if (sbox != 'MANUAL') and (sbox != 'TEST') %}
                        <select class="form-select form-select-sm post-reload" id="afe_{{cartridge}}_afe1" name="{{cartridge}}_afe1" value="{{afe[0]}}">
                          <option></option>
                          <option selected>{{afe[0]}}</option>
                          {% for option in afes4 %}
                          <option {{'selected' if afe[0] == option}}>{{option}}</option>
                          {% endfor %}
                        </select>
                        <select class="form-select form-select-sm post-reload"  id="afe_{{cartridge}}_afe2" name="{{cartridge}}_afe2" value="{{afe[1]}}">
                          <option></option>
                          <option selected>{{afe[1]}}</option>
                          {% for option in afes2 %}
                          <option {{'selected' if afe[1] == option}}>{{option}}</option>
                          {% endfor %}
                        </select>
                  {% else %}
                  <input type="text" class="form-control post-reload" id="afe_{{cartridge}}_afe1" name="{{cartridge}}_afe1" placeholder="Afe {{loop.index}}" value="{{afe[0]}}">
                  <input type="text" class="form-control post-reload" id="afe_{{cartridge}}_afe2" name="{{cartridge}}_afe2" placeholder="Afe {{loop.index}}" value="{{afe[1]}}">
                  {% endif %}
                </div>
                <div class="row my-1">
                  <div class="col-lg-1"></div>
                  <div class="col-lg">
                    <div class="input-group mx-0 px-0">
                      <span class="input-group-text">Afe 1</span>
                      {% for i in range(4) %}
                        <select class="form-select form-select-sm post" id="sn_{{cartridge}}_sn{{loop.index}}" name="{{cartridge}}_sn{{loop.index}}" value="{{sensors[cartridge][0][i]}}">
                          <option></option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'NO2'}}>NO2</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'O3'}}>O3</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'NO'}}>NO</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'CO'}}>CO</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'SO2'}}>SO2</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'H2S'}}>H2S</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'VOC'}}>VOC</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'NH3'}}>NH3</option>
                          <option {{'selected' if sensors[cartridge][0][i] == 'HCL'}}>HCL</option>
                        </select>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-1"></div>
                  <div class="col-lg">
                    <div class="input-group mx-0 px-0">
                      <span class="input-group-text">Afe 2</span>
                      {% for i in range(2) %}
                        <select class="form-select form-select-sm post" id="sn_{{cartridge}}_sn{{loop.index + 4}}" name="{{cartridge}}_sn{{loop.index + 4}}" value="{{sensors[cartridge][1][i]}}">
                          <option></option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'NO2'}}>NO2</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'O3'}}>O3</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'NO'}}>NO</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'CO'}}>CO</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'SO2'}}>SO2</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'H2S'}}>H2S</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'VOC'}}>VOC</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'NH3'}}>NH3</option>
                          <option {{'selected' if sensors[cartridge][1][i] == 'HCL'}}>HCL</option>
                        </select>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              
              <div class="row my-3">
                <div class="m-auto">
                    <button id="order_reset" name="order_reset" type="button" class="btn btn-outline-warning restful" data-method="POST" data-uri="/post/order_reset/">Clear</button>
                    <button id="order_test" name="order_test" type="button" class="btn btn-outline-warning restful" data-method="POST" data-uri="/post/order_test/">Test</button>
                </div>
              </div>
              
          </div>
        </div>

        <!-- Columna 2 -->
        <div class="col-lg-2 mt-3">
          <div class="row">
            <div class="col">
              <h5 class="text-right">Temperature</h5>
              <h5 class="text-right">Humidity</h5>
            </div>
            <div class="col">
              <input id="temp" type="text" class="form-control form-control-sm text-center" placeholder="{{temp}}" value="{{temp}}" readonly>
              <input id="hum" type="text" class="form-control form-control-sm mb-3 text-center" placeholder="{{hum}}" value="{{hum}}" readonly>
            </div>
            <div class="col-1">
              <h5 class="text-left">ºC</h5>
              <h5 class="text-left">%</h5>
            </div>
          </div>
          <div class="row ">
            <!--<div class="col-lg-1 my-auto"></div>-->
            <div class="col-lg "> <img src="{{url_for('static', filename='fridge.jpg')}}" class="img-fluid" alt="Fridge image" ></div>
            <!--<div class="col-lg-1 my-auto mx-3"></div>-->
          </div>
          <div class="row mt-3">
            <div class="col">
              <h5 class="text-right">Temperature</h5>
              <h5 class="text-right">Humidity</h5>
            </div>
            <div class="col mb-3">
              <input id="temp_backup" type="text" class="form-control form-control-sm text-center" placeholder="{{temp_backup}}" value="{{temp_backup}}" readonly>
              <input id="hum_backup" type="text" class="form-control form-control-sm mb-3 text-center" placeholder="{{hum_backup}}" value="{{hum_backup}}" readonly>
            </div>
            <div class="col-1">
              <h5 class="text-left">ºC</h5>
              <h5 class="text-left">%</h5>
            </div>
          </div>
          <div class="row">
            {% if start %}
            <div class="col p-2 border rounded border-info">
              <div class="row m-auto">
                <div class="col m-auto">
                  <h4 class="text-right mr-1">Elapsed Time: </h4>
                </div>
                <div class="col mx-auto">
                  <h4 class="text-left text-success" id="running_time">{{running_time}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col m-auto">
                  <h4 class="text-right mr-1">Left time: </h4>
                </div>
                <div class="col m-auto">
                  {% if left_time == 'Finished Test' %}
                  <h4 class="text-left text-success" id="left_time">*{{left_time}}</h4>
                  {% else %}
                    <h4 class="text-left text-success" id="left_time">{{left_time}}</h4>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          
        </div>
        
        <!-- Columna 3 -->
        <div class="col-lg">
            <div class="row-2 mx-3"><canvas id="myChartAuto" height="100"></canvas></div>
            <div class="row mx-3"><canvas id="myChartTemp" height="300"></canvas></div>
            <div class="row mx-3"><canvas id="myChartHum" height="300"></canvas></div>
            <div class="row mt-3 justify-content-center">
            </h3 class="text-center">COLD and HOT cycles</h3>
            </div>
            
            <div class="row mx-3">
              <div class="input-group justify-content-center mt-1">
                {% for state in compressor %}
                <button type="button" class="btn btn-outline-{{'primary' if state else 'danger'}}" data-bs-toggle="tooltip" title="{{cicle_time_str[loop.index0]}}">
                  {{'COLD' if state else 'HOT'}}
                </button>
                {% endfor %}
              </div>
            </div>
           
        </div>
        <!--<div class="col-1"></div>-->
      </div>
      
      <div class="row mt-3">
        <div class="mx-auto">
          {% if not start %}
            <button id="start" type="button" class="btn btn-outline-success box" data-method="POST" data-uri="/start/">Start</button>
          {% endif %}
          {% if start %}
            <button id="stop" type="button" class="btn btn-outline-danger box" data-method="POST" data-uri="/stop/">Stop</button>
            {% endif %}
          </div>
      </div>

        
        <!--
        <div class="col-lg-1">
          <label for="numero_bultos" class="font-weight-bold">Bultos</label>
          <input type="text" class="form-control post" id="numero_bultos" name="numero_bultos" value="{{numero_bultos}}">
        </div>
        -->
    </div>
  </div>
     
  {% endblock %}

  {% block footer %}
  
<script>
  // -------------------------------------------
  // ------------- AUTOMATION chart --------------
  // -------------------------------------------
  const labels_auto = {{labels_time|tojson}};

  const data_auto = {
    labels: labels_auto,
    datasets: [
      {
        label: "Cold",
        data: {{compressor_values|tojson}},
        backgroundColor: "rgba(2,117,216,0.6)",
        borderColor: "rgb(2,117,216,0.6)",
        yAxisID: 'y_auto',
      },
      {
        label: "Hot",
        data: {{heater_values|tojson}},
        backgroundColor: 'rgba(255, 99, 132,0.6)',
        borderColor: 'rgba(255, 99, 132,0.6)',
        yAxisID: 'y_auto',
      },
    ]
  };

  const options_auto = {
    elements: {
      point: {
          radius: 0
      }
    },
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    stacked: false,
    plugins: {
      title: {
        display: true,
        //text: 'Chart.js Line Chart - Multi Axis'
      }
    },
    scales: {
      y_auto: {
        type: 'category',
        labels: ['ON', 'OFF'],
        position: 'left',
      },
    }
  };

  const config_auto = {
    type: 'line',
    data: data_auto,
    options: options_auto
  };

  const myChartAuto = new Chart(
    document.getElementById('myChartAuto'),
    config_auto
  );

  function update_chart_auto(labels_time, compressor_values, heater_values){
    //const labels_time = {{labels_time|tojson}};
    //const compressor_values = {{compressor_values|tojson}};
    //const heater_values = {{heater_values|tojson}};
    //myChartAuto.data.labels = labels_time;
    myChartAuto.data.datasets[0].data = compressor_values;
    myChartAuto.data.datasets[1].data = heater_values;
    myChartAuto.update();
  }
</script>


<script>
  // -------------------------------------------
  // ------------- TEMPERATURE chart --------------
  // -------------------------------------------
  const labels_temp = {{labels_time|tojson}};

  const data_temp = {
    labels: labels_temp,
    datasets: [
      {
        label: "temp_main",
        data: {{temp_values|tojson}},
        backgroundColor: "rgba(255,0,0,0.6)",
        borderColor: "rgba(255,0,0,0.6)",
        yAxisID: 'y_temp',
      },
      {
        label: "temp_backup",
        data: {{temp_values2|tojson}},
        backgroundColor: 'rgba(128, 0, 128,0.6)',
        borderColor: 'rgba(128, 0, 128,0.6)',
        yAxisID: 'y_temp',
      },
    ]
  };

  const options_temp = {
    elements: {
      point: {
          radius: 0
      }
    },
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    stacked: false,
    plugins: {
      title: {
        display: true,
        //text: 'Chart.js Line Chart - Multi Axis'
      }
    },
    scales: {
      y_temp: {
        type: 'linear',
        display: true,
        position: 'left',
        suggestedMin: 0,
        suggestedMax: 40
      },
    }
  };

  const config_temp = {
    type: 'line',
    data: data_temp,
    options: options_temp
  };

  const myChartTemp = new Chart(
    document.getElementById('myChartTemp'),
    config_temp
  );

  function update_chart_temp(labels_time, temp_values, temp_values2){
    //const labels_time = {{labels_time|tojson}};
    //const temp_values = {{temp_values|tojson}};
    //const temp_values2 = {{temp_values2|tojson}};
    myChartTemp.data.labels = labels_time;
    myChartTemp.data.datasets[0].data = temp_values;
    myChartTemp.data.datasets[1].data = temp_values2;
    myChartTemp.update();
  }
</script>

<script>
  // -------------------------------------------
  // ------------- HUMIDITY chart --------------
  // -------------------------------------------
  const labels_hum = {{labels_time|tojson}};

  const data_hum = {
    labels: labels_hum,
    datasets: [
      {
        label: "Hum_main",
        data: {{hum_values|tojson}},
        backgroundColor: "rgba(255,0,0,0.6)",
        borderColor: "rgba(255,0,0,0.6)",
        yAxisID: 'y_hum',
      },
      {
        label: "Hum_backup",
        data: {{hum_values2|tojson}},
        backgroundColor: 'rgba(128, 0, 128,0.6)',
        borderColor: 'rgba(128, 0, 128,0.6)',
        yAxisID: 'y_hum',
      },
    ]
  };

  const options_hum = {
    elements: {
      point: {
          radius: 0
      }
    },
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    stacked: false,
    plugins: {
      title: {
        display: true,
        //text: 'Chart.js Line Chart - Multi Axis'
      }
    },
    scales: {
      y_hum: {
        type: 'linear',
        display: true,
        position: 'left',
        suggestedMin: 0,
        suggestedMax: 100
      },
    }
  }

  const config_hum = {
    type: 'line',
    data: data_hum,
    options: options_hum
  };

  const myChartHum = new Chart(
    document.getElementById('myChartHum'),
    config_hum
  );

  function update_chart_hum(labels_time, hum_values, hum_values2){
    //const labels_time = {{labels_time|tojson}};
    //const hum_values = {{hum_values|tojson}};
    //const hum_values2 = {{hum_values2|tojson}};
    //myChartHum.data.labels = labels_time;
    myChartHum.data.datasets[0].data = hum_values;
    myChartHum.data.datasets[1].data = hum_values2;
    myChartHum.update();
  }
</script>


  {% endblock %}
</html>
