{% extends "base_template.html" %}

{% block title %}Anomaly{% endblock %}

{% block head %} 
     
<script>
    $(document).ready(function(){
    //alert("hide_progessing")
    $("#view_noise_5_processing").hide()
    $("#view_noise_5").click(function(){
        $(this).hide();
        $("#view_noise_5_processing").show();
        //alert("hide_view");
      });
    });
</script>

{% endblock %}

{% block content %}
    <div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
        <div class="row">
            <div class="col">
                <div class="bg-info border border-info rounded text-center text-white mb-3">
                    <h4 class="m-1">Noise Detection</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/view_noise/" method="post">
                    <div class="row mt-2">
                        <div class="col-lg"></div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <select class="form-select" name="time">
                                    <option>5 min</option>
                                    <option>10 min</option>
                                    <option>15 min</option>
                                    <option>30 min</option>
                                    <option>60 min</option>
                                </select>
                                <span class="input-group-text">Time</span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <select class="form-select" name="resample">
                                    <option>None</option>
                                    <option>1 min</option>
                                    <option>5 min</option>
                                    <option>10 min</option>
                                    <option>15 min</option>
                                    <option>30 min</option>
                                </select>
                                <span class="input-group-text">Filter</span>
                            </div>
                        </div>
                        <div class="col-lg-2 my-auto">
                                <button id="view_noise_5" type="submit" class="btn btn-outline-success restful">View</button>
                                <button id="view_noise_5_processing" class="btn btn-outline-success" disabled>
                                    <span class="spinner-border spinner-border-sm"></span>
                                    Processing..
                                </button>
                        </div>  
                        <div class="col-1 my-auto">
                            {% set file = "chronograf.png" %}
                            {% set filename = url_for('static', filename = file) %}
                            <a href="http://chronograf.bettair/sources/15/chronograf/data-explorer?query=SELECT%20mean%28%22TEMP_HB%22%29%20AS%20%22mean_TEMP_HB%22%20FROM%20%22anomaly_box%22.%22autogen%22.%22raw_data%22%20WHERE%20time%20%3E%20%3AdashboardTime%3A%20AND%20time%20%3C%20%3AupperDashboardTime%3A%20GROUP%20BY%20time%28%3Ainterval%3A%29%2C%20%22cartridge%22%20FILL%28null%29" target="_blank">
                            <img src="{{filename}}" alt="{{filename}}" style = "width:30px;height:30px;">
                            </a>
                        </div>
                    
                    <div class="row my-2">
                       
                    </div>
                    
                </form>
            </div>
        </div>
        {% set electrodes = ["AE", "WE", "DIFF"] %}
        {% for sensor in show_sensors %}
        <div class="row">
            <div class="col">
                <div class="bg-info border border-info rounded text-center text-white mb-3">
                    <h6 class="m-1">{{sensor}} ({{sensors_gas[loop.index0]}})</h6>
                </div>
            </div>
        </div>
            {% set outer_loop = loop.index0 %}
            {% for electrode in electrodes %}
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="text-center">
                        <h6>{{sensor}}_{{electrode}} ({{sensors_gas[outer_loop]}})</h6>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-4 m-auto">
                    {% set file = sensor + "_"+ electrode +"_mean_boxplot.png" %}
                    {% set filename = url_for('static', filename =file) %}
                    <div> <img src="{{filename}}" class="img-fluid" alt="{{file}}"></div>
                </div>
                <div class="col-lg m-auto">
                    {% set file = sensor + "_" + electrode + "_mean_noise.png" %}
                    {% set filename = url_for('static', filename =file) %}
                    <div> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
  {% endblock %}