{% extends "base_template.html" %}

{% block title %}Anomaly{% endblock %}

{% block head %} 
<style>
    
    
    th {
      cursor: pointer;
    }
    
    input {
      max-width: 500px;
    }
    </style>
<script>
    $(document).ready(function(){
        // Redimensionem la web per que capigue la taula completa
        if ($("#table").length){
            var table_width = $("#table").css("width")
            table_width = (parseInt(table_width.replace(/px/,""))+80)+"px"
            $("html").width(table_width)
            }
        });
    
    
</script>

{% endblock %}

{% block content %}
<div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
    <div class="row">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h4 class="m-1">Orders</h4>
            </div>
            <div class="mb-3">
                <div class="row mt-2">
                <div class="col"></div>
                <div class="col-1">
                <button id="update" type="button" class="form-control btn btn-outline-success restful" data-method="POST" data-uri="/post/orders_update_none/">Update</button>
                </div>
                <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <table id="table" class="table mb-3">
        <thead>
            <tr>
                {% for col in orders_columns[1:] %}
                <th scope="col" onclick="sortTable(0, 'table')" class="sticky-top table-secondary">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% set ns = namespace(last = '') %}
        {% set ns2 = namespace(serials = '') %}
        {% set ns2.serials = '' %}
        {% set view_button = 0 %}
        {% for line in orders %}
        
            {% if line[0] != ns.last %}
           
            <tr>
            <td colspan = {{(orders_columns | length) -1 }}><button id="orders_save" type="submit" class="btn btn-outline-danger">Save</button></td>
            </tr>
            </form>
            <!---------------------------------------------------------------------------------->
            <form action="/post/orders_save_{{line[0]}}/" method="post">
            {% set ns2.serials = line[9] %}
            <tr>
                <td colspan = {{(orders_columns | length) -1 }} class="bg-info text-center text-white">{{line[0]}}</td>
                {% set view_button = 0 %}
            </tr>
            {% else %}
                {% set ns2.serials = ns2.serials + '_' + line[9] %}
                {% set view_button = 1 %}
            {% endif %}

            {% set ns.last = line[0] %}
            <tr>
                {% for col in line[1:] %}
                <td class = "text-start" nowrap>
                {% if loop.index0 == 2 or loop.index0 == 3 %}
                    {% set outer_loop = loop %}
                    {% for l in col.split(',')%}
                    {% if l %}
                    <div class="form-check">
                        {% if not l.strip().startswith('-') %}
                        <input class="form-check-input" type="checkbox" id="{{l}}" name="{{l}}" value = "{{'extras_' + line[9] if outer_loop.index0 == 2 else 'changes_' + line[9]}}" {{'checked' if l in changes_pcb[line[9]] or l in extras[line[9]]}}>
                        {% endif %}
                        <label class="form-check-label" for = "{{l}}">{{l}}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                {% elif loop.index0 == 4 or loop.index0 == 5 %}
                    {% if col == '1' %}
                        <input class="form-check-input" type="checkbox" id="check_{{loop.index0}}" name="check_{{loop.index0}}" checked disabled >
                    {% else %}
                        <input class="form-check-input" type="checkbox" id="check_{{loop.index0}}" name="check_{{loop.index0}}" disabled > 
                    {% endif %}
                {% else %}
                {{col}}
                {% endif %}
                </td>
                {% endfor %}
                
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Index </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="myInput">
        <p class="modal-body-content text-start text-black" style="white-space: pre-line"><p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


  
{% endblock %}