{% extends "base_template.html" %}

{% block title %}Sensors{% endblock %}

{% block head %} 
<style>
 
td.fit{
    width:1%;
    white-space:nowrap;
}

th {
  cursor: pointer;
}

input {
  max-width: 500px;
}


</style>
{% endblock %}

{% block script %}
<script>

    $(document).ready(function(){
        // Redimensionem la web per que capigue la taula completa
        if ($(".table").length){
            var table_width = $(".table").css("width")
            table_width = (parseInt(table_width.replace(/px/,""))+80)+"px"
            $("html").width(table_width)
            }
        });
    

</script>
{% block script_extra %}{% endblock %}
{% endblock %}
 
{% block content %}
    <div class="container-fluid">
        
        <div id="div_table" class="col border border-info rounded  p-2 my-3" style="background-color:whitesmoke;">
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">SENSORS INFO</h4>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col-4">
                        <form action="/post/sensors_info/" enctype="multipart/form-data" method="post">
                        <div class="mb-3 input-group">
                            <input type="text" class="form-control " id="sn_sensor" name="sn_sensor" value="{{sn_sensor}}">
                            <button id="Add_sensors" type="submit" class="btn btn-outline-success" >Get</button>
                        </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            
            {% if info %}
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_sensors" class="table display">
                    <thead class="thead-light">
                    <tr>
                        {% for col in info.keys() %}
                            {% if col == "location" or col == "conditioning" %}
                                <th scope="col" class="sticky-top table-secondary sorteable">{{col}}</th>
                            {% else%}
                                <th scope="col" class="sticky-top table-secondary sorteable">{{col}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% if info['state'] == "NOT_OK" %}
                        <tr class = "table-danger">
                        {% elif info['state'] == "OK"%}
                        <tr class = "table-success">
                        {% elif info['state'] == "NOT_TESTED"%}
                        <tr class = "table-warning">
                        {% else %}
                        <tr>
                        {% endif %}
                            {% for col in info.values() %}
                                {% if col and '#' in col %}
                                <td nowrap>
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col.replace('#','\n')}}">
                                    view ({{col.count('#')}})
                                </button>
                                </td>
                                {% else%}
                                    <td id="cell_0" nowrap>{{col if col != None else ""}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">ADD SENSOR</h4>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col-4">
                        <form action="/post/sensors_add/" enctype="multipart/form-data" method="post">
                        <div class="mb-3 input-group">
                            <span class="input-group-text">S/N</span>
                            <input type="text" class="form-control " id="sn_sensor" name="sn_sensor" value="{{sn_sensor}}">
                            <button id="Add_sensor" type="submit" class="btn btn-outline-danger" >Add</button>
                        </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">MODIFY SENSOR</h4>
            </div>
            <div class="row mb-3">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col-4">
                        <form action="/post/sensors_location/" enctype="multipart/form-data" method="post">
                        <div class="mb-3 input-group">
                            <span class="input-group-text">S/N</span>
                            <input type="text" class="form-control " id="sn_sensor" name="sn_sensor" value="{{sn_sensor}}">
                            <select class="form-select" name="location" id="location" value="{{location}}">
                                <option {{'selected' if database_filter == 'SBOX_1_2'}}>SBOX_1_2</option>
                                <option {{'selected' if database_filter == 'OBSOLETE'}}>OBSOLETE</option>
                                <option {{'selected' if database_filter == 'OK'}}>OK</option>
                                <option {{'selected' if database_filter == 'NOT_TESTED'}}>NOT_TESTED</option>
                            </select>
                            <button id="Add_location" type="submit" class="btn btn-outline-danger" >Set location</button>
                        </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">STOCK</h4>
            </div>
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_stock" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable(0, 'table_stock')" class="sticky-top table-secondary">Gas</th>
                        <th scope="col" onclick="sortTable(1, 'table_stock')" class="sticky-top table-secondary">Units</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for key in stock %}
                        <tr>
                            <td nowrap>{{key}}</td>
                            <td nowrap>{{stock[key]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">All</h4>
            </div>
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_all" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable_num(0, 'table_all')" class="sticky-top table-secondary">#</th>
                        {% for col in sensors[0] %}
                            {% if col == "sn" or col == "batch" or "Zero" in col or "mv" in col %}
                                <th scope="col" onclick="sortTable_num({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% else%}
                                <th scope="col" onclick="sortTable({{loop.index}}, 'table_all')" class="sticky-top table-secondary">{{col}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% set num = namespace(value = 0) %}
                        {%for row in sensors[1:] %}
                            {% set num.value = num.value + 1 %}
                                {% set outloop = loop.index0 %}
                                {% if row['state'] == "NOT_OK" %}
                                <tr class = "table-danger">
                                {% elif row['state'] == "OK"%}
                                <tr class = "table-success">
                                {% elif row['state'] == "NOT_TESTED"%}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" nowrap>{{num.value}}</td>
                                    {% for col in row %}
                                    {% if col and '#' in col %}
                                    <td nowrap>
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" title="{{col.replace('#','\n')}}">
                                        view ({{col.count('#')}})
                                    </button>
                                    </td>
                                    {% else%}
                                        <td id="cell_{{outloop}}_{{loop.index0}}" nowrap>{{col if col != None else ""}}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>

  {% endblock %}
