{% extends "base_template.html" %}

{% block title %}Base de datos{% endblock %}

{% block head %} 
<style>
 
td.fit{
    width:1%;
    white-space:nowrap;
}

th {
  cursor: pointer;
}

input {
  max-width: 500px;
}


</style>
{% endblock %}

{% block script %}
<script>

    
  
    $(document).ready(function() {
        $("#input-folder-1").fileinput({
            browseLabel: 'Select Folder...'
        });
    });

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $(document).ready(function() {
        // Get current date and time
        var now = new Date();
        var datetime = now.toLocaleString();
        var datetimestr = "STOCK " + datetime.split(", ")[0];

        // Insert date and time into HTML
        document.getElementById("datetimestock").innerHTML = datetimestr;
    });

</script>
{% block script_extra %}{% endblock %}
{% endblock %}
 
{% block content %}
    <div class="container-fluid">
        
        <div id="div_table" class="col border border-info rounded  p-2 my-3" style="background-color:whitesmoke;">
            <div>
                <h4 id="datetimestock" class=" bg-info border border-info rounded text-center text-white mb-3"></p></h4>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">AFES</h4>
            </div>
            {% set boxes = ["AVAILABLE STOCK", "CONDITIONING STOCK", "FOR REPAIR"] %}
            {% set stocks = [stocks_ok, stocks_conditioning, stocks_ko] %}
            {%for box in boxes %}
                {% if stocks[loop.index0] %}
                <div>
                    <h6 class=" bg-info border border-info rounded text-center text-white mb-3 mx-3">{{box}}</h6>
                </div>
                <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                    {% set states = ["ready", "conditioning"] %}
                    <table id="table_stock_{{loop.index0}}" class="table display">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" onclick="sortTable(0, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Afe</th>
                            <th scope="col" onclick="sortTable(1, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Sensors</th>
                            <th scope="col" onclick="sortTable_num(2, 'table_stock_{{loop.index0}}')" class="sticky-top table-secondary">Units</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for row in stocks[loop.index0] %}
                            <tr>
                                <td nowrap>{{row[0]}}</td>
                                <td nowrap>{{row[1]}}</td>
                                <td nowrap>{{row[2]}}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% endfor %}
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">SENSORS</h4>
            </div>
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_stock" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable(0, 'table_stock')" class="sticky-top table-secondary">Gas</th>
                        <th scope="col" onclick="sortTable(1, 'table_stock')" class="sticky-top table-secondary">Units</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for key in stock_sensors %}
                        <tr>
                            <td nowrap>{{key}}</td>
                            <td nowrap>{{stock_sensors[key]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">MECHANICS and PCB</h4>
            </div>
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_stock_mecanics" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable(0, 'table_stock_mecanics')" class="sticky-top table-secondary">Part</th>
                        <th scope="col" onclick="sortTable_num(1, 'table_stock_mecanics')" class="sticky-top table-secondary">Units</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for key in stock_mecanics %}
                        <tr>
                            <td nowrap>{{key}}</td>
                            <td nowrap>{{stock_mecanics[key]}}</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                          
           
        </div>
        
    </div>

  {% endblock %}
