{% extends "base_template.html" %}

{% block title %}Stock{% endblock %}

{% block head %} 
<style>
 
td.fit{
    width:1%;
    white-space:nowrap;
}

th {
  cursor: pointer;
}

td input.myclass[type=number]
{
    width: 50%;
}


</style>
{% endblock %}

{% block script %}
<script>

    
  
    $(document).ready(function() {
        $("#input-folder-1").fileinput({
            browseLabel: 'Select Folder...'
        });
    });

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    // enviem les dades editades de les taules al servidor
  $(document).ready(function(){  
    $('td.td-editable').click(function(){
        if (this.isContentEditable){
            $(this).css("background-color", "white");
        }
    });

    $('td').blur(function(){
      if ($(this).css("background-color") == "rgb(255, 255, 255)"){
        $.post("/post/save_stock_"+$(this).attr('id')+"/", {td : $(this).text()})
        .done(function() { location.reload();})
        .fail(function () {alert("Fallo de comunicación con el servidor")}); 
        }
    });
  });

</script>
{% block script_extra %}{% endblock %}
{% endblock %}
 
{% block content %}
    <div class="container-fluid">
        <div id="div_table" class="col border border-info rounded  p-2 my-3" style="background-color:whitesmoke;">
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">STOCK</h4>
            </div>
         
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">Add</h4>
            </div>
            <form action="/post/add_stock/" enctype="multipart/form-data" method="post">
            <div class="row m-3">
                <div class="col">
                    <input class="form-control" type="file" id="file" name="file">
                </div>
                <div class="col-2">
                    <input class="form-control" type="text" name="pn" placeholder="pn">
                </div>
                <div class="col-1">
                    <input class="form-control" type="text" name="stock" placeholder="stock">
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                <input class="form-control" type="text" name="description" placeholder="description">
                </div>
            </div>
            <div class="row m-3">
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#table_parts_select">Select group parts</button>
                </div>
                <div class="col">
                <input class="form-control" type="text" name="group" placeholder="group">
                </div>
            </div>
            <!-- --------------------------------- table select --------------------------------------------------- -->
            
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_parts_select" class="table display collapse">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sticky-top table-secondary">quantity</th>
                        <th scope="col" class="sticky-top table-secondary">picture</th>
                        {% for col in stock[0][:-2] %}
                            <th scope="col" onclick="{{'sortTable' if col != 'stock' else 'sortTable_num'}}({{loop.index+1}}, 'table_parts_select')" class="sticky-top table-secondary">{{col}}</th>
                        {% endfor %}
                        
                    </tr>
                    </thead>
                    <tbody>
                        {% set num = namespace(value = 0) %}
                        <!-- stock[0] = ['pn', 'description', 'stock', 'edit'] -->
                        {%for row in stock[1:] %}
                            {% set num.value = num.value + 1 %}
                                {% set outloop = loop.index0 %}
                                {% if row[3] %}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td class="text-start" id="cell_{{outloop}}_{{loop.index0}}" nowrap>
                                        <input class="form-control" type="number" name="quantity_{{row[0]}}" placeholder="0">
                                    </td>
                                    <td id="cell_1" nowrap>
                                        <img src="{{ url_for('.tmp', filename=row[0].replace("/","_"))}}.jpg" class="img-fluid" alt="{{row[0].replace("/","_")}}.jpg" width="30" height="30">
                                    </td>
                                    {% for col in row[:-2] %}
                                        <td class="text-start td-editable" id="cell_{{outloop}}_{{loop.index0}}" nowrap>
                                                {{col if col != None else ""}}
                                        </td>
                                    {% endfor %}
                                    
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="row m-3">
                <div class="col"></div>
                <div class="col">
                    <button id="Add_stock" type="submit" class="btn btn-outline-danger" >Add</button>
                </div>
                <div class="col"></div>
            </div>
            <div class="row m-3"></div>
            </form>
            <!-- --------------------------------- parts --------------------------------------------------- -->
            <div>
                <h4 class=" bg-info border border-info rounded text-center text-white mb-3">Parts</h4>
            </div>
            <div class="row table-responsive-lg table-hover table-bordered m-3" style="background-color:whitesmoke;">
                <table id="table_parts_stock" class="table display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" onclick="sortTable_num(0, 'table_parts_stock')" class="sticky-top table-secondary">#</th>
                        <th scope="col" class="sticky-top table-secondary">picture</th>
                        {% for col in stock[0][:-1] %}
                            <th scope="col" onclick="{{'sortTable' if col != 'stock' else 'sortTable_num'}}({{loop.index+1}}, 'table_parts_stock')" class="sticky-top table-secondary">{{col}}</th>
                        {% endfor %}
                        <th scope="col" class="sticky-top table-secondary">action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% set num = namespace(value = 0) %}
                        {%for row in stock[1:] %}
                            {% set num.value = num.value + 1 %}
                                {% set outloop = loop.index0 %}
                                {% if row[3] %}
                                <tr class = "table-warning">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td id="cell_0" nowrap>{{num.value}}</td>
                                    <td id="cell_1" nowrap>
                                        {% if row[-1] %}
                                        <form action="/post/picture_stock_{{row[0].replace("/","*")}}/" enctype="multipart/form-data" method="post">
                                            <div class="mb-3 input-group">
                                                <input class="form-control" type="file" id="file" name="file">
                                                <button id="Add_picture" type="submit" class="btn btn-outline-danger" >Add</button>
                                            </div>
                                        </form>
                                        {% else%}
                                        <img src="{{ url_for('.tmp', filename=row[0].replace("/","_"))}}.jpg" class="img-fluid" alt="{{row[0].replace("/","_")}}.jpg" width="40" height="40">
                                        {% endif %}
                                    </td>
                                    {% for col in row[:-2] %}
                                        <td class="text-start td-editable" id="cell_{{outloop}}_{{loop.index0}}" nowrap {{'contenteditable' if row[-1] and loop.index0 > 0}}>
                                                {{col if col != None else ""}}
                                        </td>
                                    {% endfor %}
                                    <td class="text-start td-editable" id="cell_{{outloop}}_{{loop.index0}}" nowrap {{'contenteditable' if row[-1] and loop.index0 > 0}}>
                                        <!--
                                        {% if row[-2] %}
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#none">Expand</button>
                                        {% endif %}
                                        -->
                                        {% for line in row[-2].split(',') %}
                                            {% if line %}
                                            <p>
                                            {{line.split(' ')[-1]}}x {{" ".join(line.split(' ')[:-1])}}
                                            </p>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="text-start" id="cell_{{outloop}}_{{loop.index0}}" nowrap>
                                        {% if not row[-1] %}
                                        <div class="btn-group">
                                        <button id="apply_repair" type="button" class="form-control btn btn-outline-warning restful" data-method="POST" data-uri="/post/modify_stock_{{row[0].replace("/","*")}}/">Modify</button>
                                        </div>
                                        {% else %}
                                        <div class="btn-group">
                                        <button id="apply_repair" type="button" class="form-control btn btn-outline-danger restful" data-method="POST" data-uri="/post/done_stock_{{row[0].replace("/","*")}}/">Done</button>
                                        <button id="apply_repair" type="button" class="form-control btn btn-outline-danger restful" data-method="POST" data-uri="/post/delete_stock_{{row[0].replace("/","*")}}/">Delete</button>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  {% endblock %}
