{% extends "base_template.html" %}

{% block title %}Anomaly{% endblock %}

{% block head %} 
<style>
 
    td.fit{
        width:1%;
        white-space:nowrap;
    }
    
    th {
      cursor: pointer;
    }
    
    input {
      max-width: 500px;
    }
    </style>
<script>
    $(document).ready(function(){
        // Redimensionem la web per que capigue la taula completa
        if ($("#table").length){
            var table_width = $("#table").css("width")
            table_width = (parseInt(table_width.replace(/px/,""))+80)+"px"
            $("html").width(table_width)
            }
        });
    
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
                } 
            else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    $(document).on('show.bs.modal', '#myModal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var title = button.data('title') // Extract info from data-* attributes
        var body = button.data('body')
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(title)
        modal.find('.modal-body-content').text(body)
    });

</script>

{% endblock %}

{% block content %}
<div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
    <div class="row">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h4 class="m-1">Nodes Tested</h4>
            </div>
        </div>
    </div>
    <table id="table" class="table table-striped mb-3">
        <thead>
            <tr>
                {% for col in nodes_tested_columns %}
                <th scope="col" onclick="sortTable(0, 'table')" class="sticky-top table-secondary">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for line in nodes_tested %}
        <tr>
            {% for col in line[:-2] %}
            <td nowrap>{{ col if col else '-' }}</td>
            {% endfor %}
            <td nowrap>
                {%if nodes_tested[loop.index0][-2]%}
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal" data-title="Cartridge: {{nodes_tested[loop.index0][5]}} ({{nodes_tested[loop.index0][0]}})" data-body="{{nodes_tested[loop.index0][-2]}}" >
                    View
                </button>
                {% endif %}
            </td>
            <td nowrap>
                {%if nodes_tested[loop.index0][-1]%}
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal" data-title="Cartridge: {{nodes_tested[loop.index0][5]}} ({{nodes_tested[loop.index0][0]}})" data-body="{{nodes_tested[loop.index0][-1]}}" >
                    View
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Index </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="myInput">
        <p class="modal-body-content text-start text-black" style="white-space: pre-line"><p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


  
{% endblock %}