{% extends "base_template.html" %}

{% block title %}Anomaly{% endblock %}

{% block head %} 
<style>
 
    td.fit{
        width:1%;
        white-space:nowrap;
    }
    
    th {
      cursor: pointer;
    }
    
    input {
      max-width: 500px;
    }
    
    
    </style>
<script>
    $(document).ready(function(){
    //alert("hide_progessing")
    $("#view_noise_5_processing").hide()
    $("#view_noise_5").click(function(){
        $(this).hide();
        $("#view_noise_5_processing").show();
        //alert("hide_view");
      });
    });
</script>

{% endblock %}

{% block content %}
<div class="col border border-info rounded p-3 m-2 ml-1" style="background-color:whitesmoke;">
    <div class="row">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h4 class="m-1">Tunel Calibration</h4>
            </div>
        </div>
    </div>
    <table id="table_tunnel" class="table mb-3">
        {% set failures_index = tunnel_calibration[0].index('Failures') %}
        {% set state_index = tunnel_calibration[0].index('State') %}
        {% set CartridgeSerial_index = tunnel_calibration[0].index('Cartridge Serial') %}
        {% set progress_index = tunnel_calibration[0].index('Progress') %}
        <thead>
            <tr>
                <th scope="col" onclick="sortTable(0, 'table_tunnel')" class="sticky-top table-secondary">Chronograf</th>
                {% for col in tunnel_calibration[0][1:] %}
                    <th scope="col" onclick="sortTable(0, 'table_tunnel')" class="sticky-top table-secondary">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for info in tunnel_calibration[1:] %}
            {% if info[failures_index] != '' %}
            <tr class = "table-danger">
            {% elif info[state_index] == 'CALIBRATING' %}
            <tr class = "table-warning">
            {% elif info[state_index] == 'CALIBRATED' %}
            <tr class = "table-success">
            {% else %}
            <tr>
            {% endif %}
            <th>
                {% set file = "chronograf.png" %}
                {% set filename = url_for('static', filename = file) %}
                <a href="http://chronograf.bettair/sources/15/dashboards/35?refresh=Paused&amp;lower=now%28%29%20-%201h&amp;tempVars%5BCARTRIDGE%5D={{info[CartridgeSerial_index]}}&amp;tempVars%5BRESOLUTION%5D=5s" target="_blank">
                <img src="{{filename}}" alt="{{filename}}" style = "width:20px;height:20px;">
                </a>
            </th>
            {%for col in info[1:-2]: %}
            <td>{{col}}</td>
            {% endfor %}
            <td>
                <div class="progress">
                {% if info[progress_index] | int < 90  %}
                {% set color = 'bg-danger'%}
                {% elif info[progress_index] | int < 100 %}
                {% set color = 'bg-warning'%}
                {% else %}
                {% set color = 'bg-success'%}
                {% endif %}
                <div class="progress-bar {{color}}" style="width:{{info[progress_index]}}%"></div>
              </div>
            </td>
            <td>{{info[-1]}}</td>
            
            
        </tr>
        
        {% endfor %}
            
        </tbody>
    </table>
    <div class="row">

    </div>

    <div class="row">
        <div class="col">
            <div class="bg-info border border-info rounded text-center text-white mb-3">
                <h4 class="m-1">Tunel Detection</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/view_tunel/" method="post">
                <div class="row mt-2">
                    <div class="col-lg"></div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <select class="form-select" name="time">
                                {% if started %}
                                <option>Total test (from {{start_date}})</option>
                                {% endif %}
                                <option>1 h</option>
                                <option>3 h</option>
                                <option>6 h</option>
                                <option>12 h</option>
                                <option>1 día</option>
                                <option>2 dias</option>
                                <option>5 dias</option>
                                <option>10 dias</option>
                            </select>
                            <span class="input-group-text">Time</span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <select class="form-select" name="resample">
                                <option>None</option>
                                <option>1 min</option>
                                <option>5 min</option>
                                <option>10 min</option>
                                <option>15 min</option>
                                <option>30 min</option>
                            </select>
                            <span class="input-group-text">Filter</span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <select class="form-select" name="order">
                                {% for order in orders %}
                                <option>{{order}}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text">Order</span>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-2 my-auto">
                            <button id="view_noise_5" type="submit" class="btn btn-outline-success restful">View</button>
                            <button id="view_noise_5_processing" class="btn btn-outline-success" disabled>
                                <span class="spinner-border spinner-border-sm"></span>
                                Processing..
                            </button>
                    </div>
                    <div class="col-lg"></div>
                </div>
                
                <div class="row my-2">
                   
                </div>
                
            </form>
        </div>
    </div>
    {% set electrodes = ["AE", "WE", "DIFF"] %}
    {% for sensor in show_sensors %}
        <div class="row">
            <div class="col">
                <div class="bg-info border border-info rounded text-center text-white mb-3">
                    <h6 class="m-1">{{sensor}} ({{sensors_gas[loop.index0]}})</h6>
                </div>
            </div>
        </div>
        {% set outer_loop = loop.index0 %}
        {% for electrode in electrodes %}
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="text-center">
                    <h6>{{sensor}}_{{electrode}} ({{sensors_gas[outer_loop]}})</h6>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-4 m-auto">
                {% set file = sensor + "_"+ electrode +"_pearson_tunel.png" %}
                {% set filename = url_for('static', filename = file) %}
                <div> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
            </div>
            <div class="col-lg m-auto">
                {% set file = sensor + "_"+ electrode +"_tunel.png" %}
                {% set filename = url_for('static', filename = file) %}
                <div> <img src="{{filename}}" class="img-fluid" alt="{{file}}" ></div>
            </div>
        </div>
        <div class="row mb-3 mx-3">
            <table class="table">
                <thead>
                    <tr>
                    <th></th>
                    <th>Std desv</th>
                    <th>%</th>
                    <th>Max - min</th>
                    <th>%</th>
                    <th>50% - 25%</th>
                    <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    
                {% set index = sensor + "_" + electrode %}
                {% for afe in std_dict[index] %}
                <tr>
                    <td class="table-info">{{afe}}</td>
                    {% for i in range(3) %}
                        {% set percent = (((std_dict[index][afe][i] - std_dict[index]['ref'][i]) / std_dict[index]['ref'][i]) * 100) | round(1) %}
                        {% if afe == 'ref' %}
                            {% set color = "table-info" %}
                        {% elif percent | abs > 50.0 %}
                            {% set color = "table-danger" %}
                        {% elif percent | abs > 30.0 %}
                            {% set color = "table-warning" %}
                        {% else %}
                            {% set color = "table-success" %}
                        {% endif %}
                        <td class = "{{color}}">{{std_dict[index][afe][i]}}</td>
                        <td class = "{{color}}">{{percent}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                    
                </tbody>
                </table>
        </div>
        {% endfor %}
    {% endfor %}
</div>
     
  {% endblock %}